<!DOCTYPE html>
<html>
<!-- @include ../includes/page-head.html -->
<body>
<div class="wrapper">
  <div class="home">
    <header class="header" role="banner">
      <!-- @include ../includes/header.html -->
    </header>

    <section class="hero">
      
    </section>

    <section class="content">
      <!-- @include ../includes/content-home.html -->
    </section>

    <footer role="contentinfo">
      <!-- @include ../includes/footer.html -->
    </footer>

  </div>
</div>

  <!-- @include ../includes/page-foot.html -->
</body>
</html>
